<div class="events-preview-container">
    <div class="flex-items">
        <div class="item" >
            <div class="card card-top" style="height: 100%;">
                <ng-template #popTitle>
                    <div [ngStyle]="{height: showItemsHeight}" class="menu-options d-flex flex-column">
                        <ng-container *ngFor="let action of actionItems; let index=index;">
                            <div *ngIf="action.show" (click)="menuAction(action,index,action.label)" class="item">
                                {{action.label}}</div>
                        </ng-container>
                    </div>
                </ng-template>
                <div placement="left" [ngbPopover]="popTitle" container="body" class="ellipse-icon"><i
                        class="fa fa-2x fa-ellipsis-v" aria-hidden="true"></i></div>
                <div class="image-section">
                    <img class="card-img-top event-list-image" [src]="previewEvent.eventPhotoPath" alt="Card image cap">
                </div>
                <div class="card-body desc-invite">
                 <div>
                    <h5 class="card-title"><b>{{previewEvent.eventName}}</b></h5>
                    <p class="card-text">{{previewEvent.eventDescription}}</p>
                 </div>
                 <div  *ngIf="!previewEvent.eventInvited" (click)="showinvite=true" class="inviteFriends">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>Invite
                    <div *ngIf="showinvite" class="invite">
                        <div>
                            <p-multiSelect [options]="items" [(ngModel)]="item" [panelStyle]="{minWidth:'12em'}" [virtualScroll]="true" [itemSize]="34"></p-multiSelect>
                        </div>
                       <div>
                        <button (click)="$event.stopImmediatePropagation();invtePeople($event)">Invite People</button>
                       </div>
                     </div>
                 </div>

                
                </div>
                <div class="card-body pt-0 pb-0">
                    <div>
                        <b>Event Date</b>&nbsp;{{previewEvent.fromDate}}
                    </div>
                    <div *ngIf="previewEvent.toDate">
                        <b>Event End Date</b>&nbsp;{{previewEvent.toDate}}
                    </div>
                    <div *ngIf="previewEvent.eventLocation">
                        <b>Event Location</b>&nbsp;{{previewEvent.eventLocation}}
                    </div>
                </div>
                <div *ngIf="!previewEvent.eventInvited" class="invitation-count">
                    <div class="counts"><b>Invited</b><span>{{previewEvent.invitedCout?previewEvent.invitedCout:'0'}}</span></div> 
                    <div class="counts"><b>Accepted</b><span>{{previewEvent.acceptedCount?previewEvent.acceptedCount:'0'}}</span></div> 
                    <div class="counts"><b>Rejected</b><span>{{previewEvent.rejectedCount?previewEvent.rejectedCount:'0'}}</span></div> 
                  </div>
                  <div *ngIf="previewEvent.eventInvited" class="invitation-count">
                      <div *ngIf="!previewEvent.eventAcceptedStatus"  class="counts text-success" (click)="setEventAcceptedStatus(previewEvent,'Accepted')"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span><b>Accept</b></div> 
                      <div *ngIf="!previewEvent.eventAcceptedStatus"  class="counts text-secondary" (click)="setEventAcceptedStatus(previewEvent,'Rejected')"><span><i class="fa fa-times-circle" aria-hidden="true"></i></span><b>Reject</b></div> 
                      <div *ngIf="!previewEvent.eventAcceptedStatus"  class="counts text-primary" (click)="setEventAcceptedStatus(previewEvent,'Tentative')"><span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span><b>Tentative</b></div> 
                      <div *ngIf="!previewEvent.eventAcceptedStatus"  class="counts text-danger" (click)="setEventAcceptedStatus(previewEvent,'Deleted')"><span><i class="fa fa-trash" aria-hidden="true"></i></span><b>Delete</b></div> 
                      <div *ngIf="previewEvent.eventAcceptedStatus == 'Accepted'"  class="counts text-success" ><span><i class="fa fa-check-circle" aria-hidden="true"></i></span><b>Accepted</b></div> 
                      <div *ngIf="previewEvent.eventAcceptedStatus == 'Rejected'"  class="counts text-secondary" ><span><i class="fa fa-times-circle" aria-hidden="true"></i></span><b>Rejected</b></div> 
                      <div *ngIf="previewEvent.eventAcceptedStatus == 'Tentative'"  class="counts text-primary" ><span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span><b>Tentative</b></div> 
                      <div *ngIf="previewEvent.eventAcceptedStatus == 'Deleted'"  class="counts text-danger" ><span><i class="fa fa-trash" aria-hidden="true"></i></span><b>Deleted</b></div> 
                    </div>
                <app-comments-container [userDetails]="userDetails"
                [commentsArray]="commentsArray"
                (updateCommentArrayForReply)="updateCommentArrayForReply($event.updatedObj, $event.addedreplyPostObj, $event.index)"
                (updateCommentArray)="updateCommentArray($event.updatedArray,$event.addedPostObj)"
                [showComments]="showComments"></app-comments-container>
              </div>
        </div>
    </div>
</div>

<ng-template #updateInvitationStatus let-modal>
    <div class="modal-header bg-success">
        <h4 class="modal-title" id="modal-basic-title">Update invitation Status</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="friends-autocomplete">
            <p-dropdown [options]="countries" [resetFilterOnHide]="true" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="false" [showClear]="true" placeholder="Select a status">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value"  *ngIf="selectedCountry">
                        <div>{{selectedCountry.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <div>{{country.value.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="updateEventStatus(selectedCountry.value)"  class="btn btn-outline-success">Update</button>
        <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-outline-dark">Cancel</button>
    </div>
</ng-template>
