<div class="groups-main">
	<!-- title section -->
	<div class="row m-0">
		<div class="title p-26"> Groups</div>
	</div>
	

	<!-- buttons section -->
	<div class="row p-26 buttons-section"> 
		<div class="col-lg-9 p-0">
			<div class="btn-group">
			  <button type="button" class="btn btn-selected">All</button>
			  <button type="button" class="btn">Created by me</button>
			  <button type="button" class="btn">Favorate</button>
			</div>
		</div>
		
		<div class="col-lg-3 p-0">
			<div class="search-box">
				<input class="form-control w-100" id="" type="text" placeholder="Search..">
				<i class="fa fa-search"></i>
			</div>
		</div>
	</div>

	<!-- group cards sections -->
	<div class="row m-0 cards-section">
		<div class="col-lg-3 col-md-6 p-10">
			<div class="group-card new-group">
				<div class="inner-wrapper-new">
					<button type="button" class="btn btn-new-group"><i class="fa fa-plus"></i></button>
					<div class="sec-header">Create Group</div>
					<div class="sec-desc">Sed eget pulvinar nulla. Nullam sed leo at diam consectetur placerat. Sed eget sollicitudin tortor. Nullam sed leo at diam consectetur placerat. </div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 p-10">
			<div class="group-card">
				<div class="group-card-inner">
					<div class="fav-btn-section">
						<button type="button" class="btn"><i class="pi pi-star"></i></button>
						<!-- <button type="button" class="btn"><i class="pi pi-star-o"></i></button> -->
						<button type="button" class="btn float-right"><i class="pi pi-ellipsis-v"></i></button>
					</div>
					<div class="group-image"><img src="assets/images/infosys.png"></div>
					<div class="sec-header">GHSNB School Friends </div>
					<div class="sec-desc">Sed eget pulvinar nulla. Nullam sed leo at diam consectetur placerat. Sed eget sollicitudin tortor. Nullam sed leo at diam consectetur placerat. </div>
					<!-- admin -->
					<div class="members-data">
						<span>Admin :</span>
						<ul>
						  <li><img src="assets/images/profilepic.jpg"></li>
						   <li><img src="assets/images/infosys.png"></li>
						   <li><label class="count">+5</label></li>
						</ul>
					</div>

					<!-- members -->
					<div class="members-data">
						<span>Members :</span>
						<ul>
						  <li><img src="assets/images/profilepic.jpg"></li>
						  <li><img src="assets/images/infosys.png"></li>
						  <li><img src="assets/images/profilepic.jpg"></li>
						  <li><img src="assets/images/infosys.png"></li>
						  <li><img src="assets/images/profilepic.jpg"></li>
						  <li><label class="count">+12</label></li>
						</ul>
					</div>

					<!-- public -->
					<div class="members-data">
						<span class="mt-0">Public :</span>
						<label class="switch">
						  <input type="checkbox">
						  <span class="slider round"></span>
						</label>
					</div>

					<div class="members-data">
						<span class="mt-0">Set as Default Group: </span>
						<label class="default-group">Yes</label>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 p-10">
			<div class="group-card">
				<div class="group-card-inner">
					<div class="fav-btn-section">
						<button type="button" class="btn"><i class="pi pi-star"></i></button>
						<!-- <button type="button" class="btn"><i class="pi pi-star-o"></i></button> -->
						<button type="button" class="btn float-right"><i class="pi pi-ellipsis-v"></i></button>
					</div>
					<div class="group-image"><img src="assets/images/infosys.png"></div>
					<div class="sec-header">GHSNB School Friends </div>
					<div class="sec-desc">Sed eget pulvinar nulla. Nullam sed leo at diam consectetur placerat. Sed eget sollicitudin tortor. Nullam sed leo at diam consectetur placerat. </div>
					<!-- admin -->
					<div class="members-data">
						<span>Admin :</span>
						<ul>
						  <li><img src="assets/images/profilepic.jpg"></li>
						   <li><img src="assets/images/infosys.png"></li>
						   <li><label class="count">+5</label></li>
						</ul>
					</div>

					<!-- members -->
					<div class="members-data">
						<span>Members :</span>
						<ul>
						  <li><img src="assets/images/profilepic.jpg"></li>
						  <li><img src="assets/images/infosys.png"></li>
						  <li><img src="assets/images/profilepic.jpg"></li>
						  <li><img src="assets/images/infosys.png"></li>
						  <li><img src="assets/images/profilepic.jpg"></li>
						  <li><label class="count">+12</label></li>
						</ul>
					</div>

					<!-- public -->
					<div class="members-data">
						<span class="mt-0">Public :</span>
						<label class="switch">
						  <input type="checkbox">
						  <span class="slider round"></span>
						</label>
					</div>

					<div class="members-data">
						<span class="mt-0">Set as Default Group: </span>
						<label class="default-group">Yes</label>
					</div>
				</div>
			</div>
		</div>

		
		<div class="col-lg-3 col-md-6 p-10"><div class="group-card">4</div></div>
	</div>

</div>