<div class="main-home-page-messenger">
    <div class="nav-section">
        <div class="p-2 item-top" (click)="openChat(chatProfile)" *ngFor="let chatProfile of currentChatList">
            <div class="nav-item" [ngClass]="chatProfile.classObject" [ngStyle]="chatProfile.styleObject"
                class="{{chatProfile?.class}}" id="{{chatProfile?.id}}">
                <div class="chat-profile">
                    <div *ngIf="!chatProfile.profileImage">
                        <i class="icon {{chatProfile?.icon}}"></i>
                    </div>
                    <div class="profile-img" *ngIf="chatProfile.profileImage">
                        <img class="profile-image" [src]="chatProfile.profileImage" />
                        <div class="status-icon {{chatProfile.isActive?'active':''}}"></div>
                    </div>
                    <div class="label">{{chatProfile?.profileName}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="chat-container">

</div>