<div class="comments-container">
    <div [class.hideComments]="!showCommentsContainer"  class="comment-container">
        <form #commentsForm autocomplete="off">
            <div class="flex-content">
                <div class="profile">
                    <div (click)="navigateToProfile()"> <img [src]="userDetails?.profileImageUrl?userDetails.profileImageUrl:'../../assets/images/profile.jpg'" /></div>
                </div>

                <div class="comment-input">
                    <input #commentInput class="ui-inputtext w-100" name="comment" [(ngModel)]="postComment"
                        placeholder="Write a Comment..." id="float-input" type="text" size="30" pInputText>
                    <div (click)="commentImageInput.value = null; commentPhotoUpload()" class="photo"><i
                            class="fa fa-2x fa-camera" aria-hidden="true"></i></div>
                    <div class="wrapper">
                        <input type="file" name="commentimage" #commentImageInput accept="image/*"
                            (change)="handleCommentPhotoUpload($event);" />
                    </div>
                </div>
                <div class="post-button">
                    <p-button type="submit" (click)="newCommentHandler(commentsForm)" label="Post"></p-button>
                </div>

            </div>
        </form>
        <div *ngIf="tempCommentImage" class="comment-img-prev">
            <div class="prev-container">
                <img [src]="tempCommentImage" />
                <div (click)="discardTempororyImg()" class="discard-icon">
                    <i class="fa fa-window-close" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div *ngIf="_showComments">
            <ng-container *ngFor="let mainCommentObj of commentsArray; let commentIndex=index;">
                <app-main-comment [currentReplyIndex]="currentReplyIndex" (replyClickedMaincomment)="currentReplyIndex = $event" [commentIndex]="commentIndex" [userDetails]="userDetails"  [mainCommentObj]="mainCommentObj"></app-main-comment>
            </ng-container>
        </div>
        <div *ngIf="showLoadMore">
            <div>
                <button pButton type="button" label="Load comments" (click)="loadMoreComments()" class="ui-button-rounded ui-button-info"></button>
            </div>
        </div>
        <p-progressSpinner [style]="{width: '50px', height: '50px'}" [strokeWidth]="2" [animationDuration]="2" *ngIf="showSpinner"></p-progressSpinner>
    </div>
</div>