:host::ng-deep {
    .align_position {
        p-overlayPanel {
            .p-overlaypanel.p-component {
                z-index   : 5 !important;
                min-height: 100px !important;
                max-height: 500px;
            }

            .p-overlaypanel .p-overlaypanel-content {
                padding-right: 0px !important;
            }
        }
    }

    .slick-prev,
    .slick-next {
        // background-color: black !important;
    }

    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
        // background-color: rgb(79, 17, 196) !important;
    }
    .slick-prev:before, .slick-next:before{
        color: black !important;
    }

    .slick-dots li button:before {
        font-size: 12px !important;
    }

    .slick-prev.slick-arrow {
        left   : 0px !important;
        z-index: 9 !important;
    }

    .slick-next {
        right  : 0px;
        z-index: 9 !important;
    }

    ngx-slick-carousel {
        .slick-list.draggable {
            max-height: 390px !important;

            .slick-track {
                display    : flex;
                align-items: center;
            }
        }
    }
}
.overlay_panel{
    min-height : 100px !important;
    height: 150px;
    max-height: 450px ;  
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
}

.comment-section {
    display        : flex;
    align-items    : center;
    flex-direction : row;
    justify-content: space-between;

    .item {
        cursor: pointer;
    }
}

.card-header {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: flex-start;

    img {
        cursor       : pointer;
        width        : 30px;
        height       : 30px;
        border-radius: 25px;

    }

    .profileName {

        padding-left: 10px;
        font-weight : bold;
        cursor      : pointer;

    }
}

.card {
    border-radius: 15px;
}

.post-comment {
    // text-align : left;
    margin     : 8px;
    font-weight: bold;
    font-size  : 18px;
    word-break : break-word;
}

.image-section {
    //  height  : 400px;
    // overflow       : hidden;
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;

    img {
       // height : 100%;
        //width: inherit;
    }
}

// @media only screen and (max-width: 500px) {

//     .image-section {
//         img {
//             //width: 100%;
//         }
//     }
// }

.like-comment-count {
    margin: 10px 0;

    .count-section {
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        border-top     : 1px solid #af9e9e8c;

        .comment {
            padding: 10px;
            cursor : pointer;
        }

        .like {
            padding: 10px;
            cursor : pointer;
        }
    }
}

.postUserName {
    text-align : start;
    padding    : 10px;
    cursor     : pointer;
    font-weight: bolder;
}

.shared-profile {
    margin         : 10px 0px;
    display        : flex;
    width          : 100%;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
    overflow       : hidden;

    .container {
        width     : 75%;
        background: #f0f2f5;
    }
}

.items-align {
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    background-image : url("/assets/images/backgroudimages.jpg");
    background-repeat: no-repeat;
    background-size  : cover;

    .post-comment {
        height: auto;
        color : white;
    }
}

.profile-name{
    cursor: pointer;
}
.likes-profile-img{
    img {
        cursor       : pointer;
        width        : 30px;
        height       : 30px;
        border-radius: 25px;

    }   
    .no-profile-img{
        cursor       : pointer;
        width        : 30px;
        height       : 30px;
        border-radius: 25px;
        background-image: linear-gradient(90deg, rgb(2, 0, 36) 6%, rgba(107, 9, 121, 0.97) 57%, rgb(141, 0, 255) 89%);   
    }
}
.courosel-items{
    height: 90% !important;
}

.w-90{
    width: 90% !important;
}

.courosel-image {
    /* top: 50%; */
    left      : 50%;
    transform : translate(-50%, 0%);
    position  : relative;
    text-align: center;
    max-height: 390px;
    width  : auto;
}

@media only screen and (max-width: 500px) {
    .courosel-image {
        max-height: auto;
        max-width  : 100%;
    }
}