<div class="left-cont" style="height:800px">

  <div class="card">
    <div class="menu">
      <div class="menu-item">
        <div class="icon"><i class="pi pi-sitemap"></i></div>
        <div class="text">My Connections</div>
        <div class="icon l-caret"><i class="pi pi-angle-right"></i></div>
      </div>
      <div class="menu-item">
        <div class="icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
        <div class="text">My Events</div>
        <div class="icon l-caret"><i class="pi pi-angle-right"></i></div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="menu">
      <div class="menu-item p-2">
        <div class="text">My Groups</div>
        <div class="icon l-caret"><i class="pi pi-ellipsis-v"></i></div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="p-2 group-item {{selectedGroupIndex==i?'active':''}}" (click)="navigateGroup(group, i)"
        *ngFor="let group of groupsListDetails;let i=index;">
        <div>{{group.name}}{{group.defaultGroup?'(default)':''}}</div>
      </div>
    </div>
  </div>

</div>