<div class="left-cont" style="height:800px">
  <div class="nav-section">
    <div class="p-2 item-top" (click)="navigate(navItem)" *ngFor="let navItem of navigationItems">
      <div class="nav-item" [ngClass]="navItem.classObject" [ngStyle]="navItem.styleObject" class="{{navItem?.class}}"
        id="{{navItem?.id}}">
        <div><i *ngIf="!navItem.profileImage" class="icon {{navItem?.icon}}"></i><img class="profile-image" *ngIf="navItem.profileImage" [src]="navItem.profileImage"/>{{navItem.profileImage?navItem.profileName:navItem?.label}}</div>
      </div>
    </div>
  </div>
  <p-accordion  styleClass="p-accordion" [activeIndex]="0">
    <p-accordionTab styleClass="p-accordion-header" header="My Groups">
      <div>
        <div>
          <p-listbox  [options]="groupsListDetails" [styleClass]="'h-auto'" optionLabel="groupName"  [(ngModel)]="selectedGroup" >
            <ng-template let-car pTemplate="item">
              <div (click)="navigateGroup(car)" class="ui-helper-clearfix">
                <span style="margin:20px 10px 0 0"><b>{{car.value.groupName}}</b></span>
              </div>
            </ng-template>
            <p-footer>
            </p-footer>
          </p-listbox>
        </div>
      </div>
    </p-accordionTab>
</p-accordion>
</div>