<div class="photos-grid-container">
    <div *ngIf="!showAllFriends">
        <div class="header">
            <div class="head"><b>{{getHeader()}}</b></div>
            <div (click)="navigate()" class="seeAll"><b>See all</b></div>
        </div>
        <div class="flex-container">
            <div class="each-row" *ngFor="let photo of photosArray">
                    <img (click)="navigatingTo(photo)" [src]="photo.imgSrc" />
                    <div class="profileName" (click)="navigatingTo(photo)" *ngIf="photosGrid == 'friendsGrid'">{{photo.profileName}}</div>
            </div>
        </div>
    </div>
 <div *ngIf="showAllFriends">
    <div class="flex-container">
        <div class="each-row-all-friends" *ngFor="let photo of photosArray">
            <div (click)="navigatingTo(photo)" class="profile-photo"><img (click)="navigatingTo(photo)" src="{{photo.imgSrc}}" /></div>
            <div (click)="navigatingTo(photo)" class="profileName">{{photo.profileName}}</div>
        </div>
    </div>
 </div>
</div>

<ng-template #overlayRef let-modal>
    <!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Post</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img id="outputImage" class="image-review" [src]="" />
      <video id="outputVideo" class="video-review" *ngIf="videoSrc" [src]="videoSrc" controls></video>
    </div>
    <div class="modal-footer footer-align">
      <div>
        <button type="button" class="btn btn-outline-dark" (click)="PostUserStory()">Post</button>
      </div>
    </div>
     -->

     <div class="overlay-container">
      <div class="row m-0 overlay-flex-container">
       <div class="col-md-8  col-sm-12 content-section">
           <div *ngIf="currentOverlayObj.imgSrc" class="image-container">
            <div class="close-icon"><i (click)="modal.dismiss('Cross click')" class="fa fa-2x fa-times-circle" aria-hidden="true"></i></div>
               <div class="blur-photo">
                   <img class="img-fluid" [src]="currentOverlayObj.imgSrc" />
               </div>
               <div class="original-photo">
                <img class="img-fluid" [src]="currentOverlayObj.imgSrc" /> 
               </div>
           </div>
       </div>
       <div class="col-md-4 col-sm-12 profile-section">
         <div class="profile">
            <div>
              <app-profile-with-comments [userDetails]="userDetails"></app-profile-with-comments>
            </div>
         </div>
       </div>
      </div>
     </div>
  </ng-template>

