<div class="event-list-container">
    <div>
        <div class="flex-items">
            <div (click)="eventPrevievNavigation(event);" class="item" *ngFor="let event of eventsList; let i= index;">
                <div class="card card-top" style="width: 330px; height: 100%;">
                    <ng-template #popTitle>
                        <div [ngStyle]="{height: showItemsHeight}" class="menu-options d-flex flex-column">
                            <ng-container *ngFor="let action of actionItems; let index=index;">
                                <div *ngIf="action.show" (click)="menuAction(action,i,action.label)" class="item">
                                    {{action.label}}</div>
                            </ng-container>
                        </div>
                    </ng-template>
                    <div (click)="stopPropagation($event)" placement="left" [ngbPopover]="popTitle" container="body" class="ellipse-icon"><i
                            class="fa fa-2x fa-ellipsis-v" aria-hidden="true"></i></div>
                    <img class="card-img-top event-list-image" [src]="event.eventPhotoPath" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><b>{{event.eventName}}</b></h5>
                      <p class="card-text">{{event.eventDescription}}</p>
                    </div>
                    <div class="card-body">
                        <div>
                            <b>Event Date</b>&nbsp;{{event.fromDate}}
                        </div>
                        <div *ngIf="event.toDate">
                            <b>Event End Date</b>&nbsp;{{event.toDate}}
                        </div>
                        <div *ngIf="event.eventLocation">
                            <b>Event Location</b>&nbsp;{{event.eventLocation}}
                        </div>
                    </div>
                    <div *ngIf="!event.eventInvited" class="invitation-count">
                      <div class="counts"><b>Invited</b><span>{{event.invitedCout?event.invitedCout:'0'}}</span></div> 
                      <div class="counts"><b>Accepted</b><span>{{event.acceptedCount?event.acceptedCount:'0'}}</span></div> 
                      <div class="counts"><b>Rejected</b><span>{{event.rejectedCount?event.rejectedCount:'0'}}</span></div> 
                    </div>
                    <div *ngIf="event.eventInvited" class="invitation-count" (click)="stopPropagation($event)">
                        <div *ngIf="!event.eventAcceptedStatus"  class="counts text-success" (click)="setEventAcceptedStatus(event,i,'Accepted')"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span><b>Accept</b></div> 
                        <div *ngIf="!event.eventAcceptedStatus"  class="counts text-secondary" (click)="setEventAcceptedStatus(event,i,'Rejected')"><span><i class="fa fa-times-circle" aria-hidden="true"></i></span><b>Reject</b></div> 
                        <div *ngIf="!event.eventAcceptedStatus"  class="counts text-primary" (click)="setEventAcceptedStatus(event,i,'Tentative')"><span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span><b>Tentative</b></div> 
                        <div *ngIf="!event.eventAcceptedStatus"  class="counts text-danger" (click)="setEventAcceptedStatus(event,i,'Deleted')"><span><i class="fa fa-trash" aria-hidden="true"></i></span><b>Delete</b></div> 
                        <div *ngIf="event.eventAcceptedStatus == 'Accepted'"  class="counts text-success" ><span><i class="fa fa-check-circle" aria-hidden="true"></i></span><b>Accepted</b></div> 
                        <div *ngIf="event.eventAcceptedStatus == 'Rejected'"  class="counts text-secondary" ><span><i class="fa fa-times-circle" aria-hidden="true"></i></span><b>Rejected</b></div> 
                        <div *ngIf="event.eventAcceptedStatus == 'Tentative'"  class="counts text-primary" ><span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span><b>Tentative</b></div> 
                        <div *ngIf="event.eventAcceptedStatus == 'Deleted'"  class="counts text-danger" ><span><i class="fa fa-trash" aria-hidden="true"></i></span><b>Deleted</b></div> 
                      </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<ng-template #updateInvitationStatus let-modal>
    <div class="modal-header bg-success">
        <h4 class="modal-title" id="modal-basic-title">Update invitation Status</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="friends-autocomplete">
            <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" [resetFilterOnHide]="true" optionLabel="name" [filter]="false" [showClear]="true" placeholder="Select a status">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value"  *ngIf="selectedCountry">
                        <div>{{selectedCountry.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <div>{{country.value.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="updateEventStatus(currentStatusUpdateIndex,selectedCountry.value)"  class="btn btn-outline-success">Update</button>
        <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-outline-dark">Cancel</button>
    </div>
</ng-template>

