<div class="top-bannercontainer">
    <div class="top-items">
        <div class="item brand">
            <h3>cousincircle</h3>
        </div>
        <div id="nav-items" class="item">
            <app-top-navigation-menu></app-top-navigation-menu>
        </div>
        <div id="profiles" class="item">
            <app-account-and-profile></app-account-and-profile>
        </div>
        <!-- <div id="hamburger" class="item">
            <i class="fa fa-2x fa-bars" aria-hidden="true"></i>
        </div> -->
    </div>
</div>