<div class="header-block">
	<!-- left side description block -->
	<div class="left-block">
		<button class="back"> Back </button>
		<div class="left-block-inner">
			<div class="title w-100"><span>TripGang</span><i class="pi pi-star"></i></div>
			<div class="desc">Donec ac nisi vestibulum, ullamcorper elit id, venenatis purus. Pellentesque vehicula bibendum quam et tincidunt. Pellentesque luctus, nisi vestibulum, ullamcorper elit id, venenatis…</div>
		</div>
		<div class="members-data">
			<span>Members :</span>
			<ul>
			  <li><img src="assets/images/profilepic.jpg"></li>
			  <li><img src="assets/images/infosys.png"></li>
			  <li><img src="assets/images/profilepic.jpg"></li>
			  <li><img src="assets/images/infosys.png"></li>
			  <li><img src="assets/images/profilepic.jpg"></li>
			  <li><label class="count">+12</label></li>
			</ul>
		</div>
	</div>

	<!-- top right side 3 dots -->
	<button type="button" class="btn btn-ellipsis"><i class="pi pi-ellipsis-v"></i></button>

	<!-- invite button -->
	<button type="button" class="btn btn-invite">Invite</button>

	<!-- header background image -->
	<img class="header-image" src="assets/images/header-bg.jpg">
</div>

<div class="groups-main">
	
	<!-- buttons section -->
	<div class="row p-26 buttons-section"> 
		<div class="col-lg-9 p-0">
			<div class="btn-group">
			  <button type="button" class="btn btn-selected">Albums</button>
			  <button type="button" class="btn">Events</button>
			  <button type="button" class="btn">Tree</button>
			</div>
		</div>
	</div>

	<!-- group cards sections -->
	<div class="row m-0 cards-section">
		<div class="col-lg-3 col-md-6 p-10">
			<div class="group-card new-group">
				<div class="inner-wrapper-new">
					<button type="button" class="btn btn-new-group"><i class="fa fa-plus"></i></button>
					<div class="sec-header">Add Album</div>
				</div>
			</div>
		</div>


		<div class="col-lg-3 col-md-6 p-10">
			<div class="group-card">
				<div class="group-card-inner">
					<img src="assets/images/profilepic.jpg">
					<img src="assets/images/infosys.png">
					<img src="assets/images/infosys.png">
					<img src="assets/images/profilepic.jpg">
				</div>
				<div class="group-card-footer">
					<span>1 week ago</span>
					<img src="assets/images/profilepic.jpg">
					<i class="pi pi-ellipsis-v"></i>
				</div>
			</div>
		</div>


		<div class="col-lg-3 col-md-6 p-10">
			<div class="group-card">
				<div class="group-card-inner">
					<img src="assets/images/profilepic.jpg">
					<img src="assets/images/infosys.png">
					<img src="assets/images/infosys.png">
					<img src="assets/images/profilepic.jpg">
				</div>
				<div class="group-card-footer">
					<span>1 week ago</span>
					<img src="assets/images/profilepic.jpg">
					<i class="pi pi-ellipsis-v"></i>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 p-10">
			<div class="group-card">
				<div class="group-card-inner">
					<img src="assets/images/profilepic.jpg">
					<img src="assets/images/infosys.png">
					<img src="assets/images/infosys.png">
					<img src="assets/images/profilepic.jpg">
				</div>
				<div class="group-card-footer">
					<span>1 week ago</span>
					<img src="assets/images/profilepic.jpg">
					<i class="pi pi-ellipsis-v"></i>
				</div>
			</div>
		</div>
		
	</div>

</div>