<div class="app-top-parent">
  <div #topBanner id="topBanner" class="top-sticky">
    <app-top-banner></app-top-banner>
  </div>
  <div class="main-dynamic-container">
    <router-outlet></router-outlet>
  </div>
</div>
<p-toast [autoZIndex]="true" [baseZIndex]="1055" [style]="{marginTop: '0px'}"
  (onClose)="closeToastMessage($event.message)"></p-toast>
<ngx-loading [show]="showLoader" [config]="{ animationType: ngxLoadingAnimationTypes,
  backdropBackgroundColour: 'rgb(27 26 26 / 52%)',
  primaryColour: '#000', secondaryColour: 'red', tertiaryColour: 'orange',fullScreenBackdrop:true }"></ngx-loading>