<div class="timelimeContainer">
    <div class="section-view">
        <div #leftSideContainer class="left-section">
            <div class="grid-align" #leftSideContainerScroll>
                <div class="photos-grid" style="">
                    <app-photos-grid [currentProfileId]="currentProfileId" [userDetails]="userDetails" [photosArray]="photosArray"
                        [photosGrid]="'photosGrid'">
                    </app-photos-grid>
                </div>
                <div class="friends-grid">
                    <app-photos-grid [currentProfileId]="currentProfileId" [userDetails]="userDetails" [photosArray]="friendsArray"
                        [photosGrid]="'friendsGrid'">
                    </app-photos-grid>
                </div>
            </div>
        </div>
        <div infiniteScroll [infiniteScrollDistance]="0.3" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
            class="right-section">
            <app-home [posts]="timeLinePosts" [showStories]="false"></app-home>
        </div>
    </div>
</div>