.home-container{
  overflow: hidden;
  display: flex;
  justify-content: center;
  // max-width: 690px;
  .home{
    display: flex;  
    align-items: cener;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  } 
  @media (min-width: 801px) and (max-width: 1100px) {
    .home{
     width: 80% !important;
    }
   }

  @media (max-width:800px) {
     .home{
      width: 100% !important;
     }
    }
}

